table{
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}
th, td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th{
    background-color: aqua;
}
tr:nth-child(even){
    background-color: aqua;
}
tr:hover{
    background-color: aqua;
}
.logo.img{
    width: 100px;
    height: auto;
    margin-right: 20px; 
    margin-left: 50px;
}
